body{
  background-color: black;
}

p{
  margin:17px;
}
#statwindow{
  font-family: tahoma;
  font-size: 95%;
  width: 200px;
  line-height: 15px;
}

#statwindow p{
  margin: 4px;

}

#mainContainer{
  position:absolute;
  height:50%;
  width:50%;
  font-family: tahoma;
  font-size: 95%;
  left:10%;
  top:20%;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(150,150,150,.9);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2px rgba(150,150,150,1);
}

#mainConsole{
  text-align:left;
  height:125%;
  width:100%;
  overflow: auto;
  color: white;
  border:2px solid rgba(100,100,100,.3);
  margin-bottom: 5px;
  padding-left:4px;
}

#combatContainer{
  position:absolute;
  padding-left:4px;
  font-family: tahoma;
  border:2px solid rgba(100,100,100,.3);
  height:62.5%;
  width: 25%;
  top: 20%;
  left: 63%;
  color:red;
  overflow: auto;
}

#cmdLine{
  font-family: tahoma;
  font-size: 16px;
  background-color:black;
  width: 101%;
  color:white;
  outline:none;
  border: 1px solid rgba(100,100,100,.3);
}
