body{
  background-color: black;
}

#statwindow{
  font-family: VT323;
  font-size: 125%;
  width: 200px;
  line-height: 15px;
}

#statwindow p{
  margin: 4px;
}

#mainContainer{
  position:absolute;
  height:50%;
  width:50%;
  font-family: tahoma;
  font-size: 95%;
  left:20%;
  top:20%;
}

#mainConsole{
  text-align:left;
  height:125%;
  width:100%;
  overflow: auto;
  color: white;
  border:2px solid rgba(100,100,100,.5);
  margin-bottom: 5px;
  padding-left:4px;
}

#combatContainer{
  position:absolute;
  padding-left:4px;
  font-family: tahoma;
  border:2px solid rgba(100,100,100,.5);
  height:62.5%;
  width: 25%;
  top: 20%;
  left: 73%;
  color:red;
  overflow: auto;
}

#cmdLine{
  font-family: tahoma;
  background-color:black;
  width: 101%;
  color:white;
  outline:none;
  border: 1px solid rgba(100,100,100,.5);
}
